.container .b {
    text-align: center;
}

.container .btnn {
    position: absolute;
    top: 87%;
    left: 80%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(47, 61, 255);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btnn:hover {
    background-color: #47cf73;
    color: rgb(47, 61, 255);
}

.container .btnn1 {
    position: absolute;
    top: 97%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(47, 61, 255);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btnn1:hover {
    background-color: #47cf73;
    color: rgb(47, 61, 255);
}

.container .btnn2 {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(47, 61, 255);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btnn2:hover {
    background-color: #47cf73;
    color: rgb(47, 61, 255);
}

.container .btnn3 {
    position: absolute;
    top: 89%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(47, 61, 255);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btnn3:hover {
    background-color: #47cf73;
    color: rgb(47, 61, 255);
}

.container .btn {
    position: absolute;
    top: 95%;
    left: 21%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(0, 255, 13, 0.288);
    color: rgb(141, 231, 37);
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color: #00ff00;
    color: rgb(255, 255, 255);
}


.container .btn1 {
    position: absolute;
    top: 95%;
    left: 35%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(255, 153, 0, 0.301);
    color: rgb(255, 136, 0);
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn1:hover {
    background-color: #ff9900;
    color: rgb(255, 255, 255);
}

.container .btn2 {
    position: absolute;
    top: 95%;
    left: 47%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(230, 53, 253, 0.301);
    color: rgb(229, 58, 252);
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn2:hover {
    background-color: #e02ff7;
    color: rgb(255, 255, 255);
}

.container .btn3 {
    position: absolute;
    top: 95%;
    left: 60%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(34, 236, 193, 0.267);
    color: rgb(20, 250, 231);
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn3:hover {
    background-color: #18f0c1;
    color: rgb(255, 255, 255);
}

.container .btn4 {
    position: absolute;
    top: 95%;
    left: 77%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(235, 26, 207, 0.267);
    color: rgb(96, 9, 99);
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn4:hover {
    background-color: #f829d6;
    color: rgb(255, 255, 255);
}

div.imglogo {
margin: 5px;
border: 1px solid #ffffff; 
width: 250px;
height: auto;
}
